@import url("https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--dark-primary: #151515;
		--dark-secondary: #1e1e1e;
		--white-secondary: hsla(0, 0%, 100%, 0.69);
		--white-primary: hsla(0, 0%, 100%, 0.83);
	}
	::selection {
		background: white;
		color: #292929;
	}
	body {
		background: var(--dark-primary);
	}
	* {
		scroll-behavior: smooth;
		color: var(--white-primary);
	}
	input {
		@apply bg-transparent border-none outline-none text-base;
	}
	::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
	ol {
		@apply list-decimal list-inside;
	}
	ul {
		@apply list-disc list-inside;
	}
}

@layer components {
	#app-wrapper {
		@apply max-w-[1440px] m-auto relative h-[100vh];
	}
	#app-content {
		@apply max-w-[720px] m-auto;
	}
	.nav__search {
		@apply text-whiteSecondary ss:px-3 py-1.5 px-1.5 rounded-md overflow-hidden flex ss:gap-3 gap-2 items-center mt-0;
	}
	.blog__title {
		@apply ss:text-6xl ss:leading-snug leading-snug text-4xl font-medium ss:my-12 my-5 font-playFD;
	}
	#blog__editor-title {
		@apply blog__title ss:text-5xl ss:leading-snug outline-0 border-0 bg-transparent resize-none w-full ss:my-5 my-3;
	}
	#blog__editor-title::placeholder {
		@apply text-whitePrimary opacity-30;
	}
	.blogcard_content {
		overflow: hidden;
		-webkit-line-clamp: 3;
		display: -webkit-box;
		-webkit-box-orient: vertical;
	}
	#user-menu {
		@apply z-10;
	}
	#user-menu button {
		@apply py-2 px-3 flex gap-3 items-center whitespace-nowrap;
	}
	#user-menu button svg {
		@apply w-5 h-5;
	}
	.highline {
		position: relative;
	}
	.highline::after {
		@apply bg-whiteSecondary content-[""] absolute w-[80%] h-[2.5px] rounded-[10px] left-2/4 bottom-0 translate-x-[-50%];
	}
	.blog-card::before {
		@apply first:hidden bg-whitePrimary content-[""] w-full h-px block absolute opacity-5 left-0 top-0 transition duration-300;
	}
	.blog-card:hover::before,
	.blog-card:hover + .blog-card::before {
		@apply opacity-0;
	}
	.blog-card button:has(svg) {
		@apply text-2xl opacity-80 hover:scale-125 transition duration-200;
	}
	.prompt button {
		@apply py-2 text-sm;
	}
	.prompt button.delete {
		@apply rounded-sm px-3 border border-red-500 text-red-500;
	}
}

#editor img,
#editor video,
.blog img,
.blog video {
	@apply mx-auto my-10;
}
.blog h2,
#editor .ql-editor h2 {
	@apply ss:text-3xl ss:leading-snug leading-snug text-2xl font-medium text-whitePrimary ss:mt-10 mt-6 ss:mb-4 mb-2 font-playFD tracking-wide;
}
.blog p,
#editor .ql-editor p,
.blog li,
#editor .ql-editor li,
.blog blockquote,
#editor .ql-editor blockquote {
	@apply ss:text-lg text-lg leading-[1.58] ss:mb-4 mb-2 last:mb-8 text-whiteSecondary font-lora tracking-wider;
}
.blog li,
#editor .ql-editor li {
	@apply ss:mb-2 mb-1 last:mb-0;
}
.blog ol,
.blog ul,
#editor .ql-editor ol,
#editor .ql-editor ul {
	@apply pl-0 ss:my-8 my-6;
}
.blog a,
#editor .ql-editor a {
	@apply text-whiteSecondary;
}
.blog li:not(.ql-direction-rtl)::before,
#editor .ql-editor li:not(.ql-direction-rtl)::before {
	@apply mr-[0.8em];
}
#editor .ql-snow {
	@apply border-hidden;
}
#editor .ql-editor {
	@apply px-0;
}
#editor .ql-toolbar {
	@apply bg-darkSecondary sticky top-0 z-10;
}
#editor .ql-editor p:has(+ p > br) {
	@apply mb-0;
}
#editor .ql-editor p:has(br) {
	@apply m-0;
}
.blog pre,
#editor .ql-editor pre {
	@apply ss:my-6 my-3 py-2 ss:text-base text-xs bg-darkSecondary;
}
.blog blockquote,
#editor .ql-editor blockquote {
	@apply italic;
}
#editor .ql-editor.ql-blank::before {
	@apply text-lg text-whitePrimary opacity-30 not-italic left-0;
}
