@import url("https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--dark-primary: #151515;
		--dark-secondary: #212121;
		--dark-highlight: #2d2d2d;
		--white-secondary: 182 182 182;
		--white-primary: 215 215 215;
		--white-bright: 208 208 208;
	}
	::selection {
		background: white;
		color: #292929;
	}
	body {
		background: var(--dark-primary);
	}
	* {
		scroll-behavior: smooth;
		color: rgb(var(--white-primary));
	}
	*:disabled {
		@apply cursor-default;
	}
	input {
		@apply bg-transparent border-none outline-none text-base;
	}
	::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
	ol {
		@apply list-decimal list-inside;
	}
	ul {
		@apply list-disc list-inside;
	}
}

@layer components {
	main#app-content:has(> #home) {
		width: 100%;
		max-width: 100%;
	}
	.heading {
		@apply ss:text-3xl ss:leading-snug leading-snug text-xl font-medium text-whitePrimary font-playFD tracking-wide;
	}
	.sub-heading {
		@apply ss:text-2xl ss:leading-snug leading-snug text-lg font-medium text-whitePrimary font-playFD tracking-wide;
	}
	.theme-input {
		@apply bg-darkSecondary rounded-md px-5 py-3 placeholder:opacity-40 placeholder:text-whitePrimary w-full focus:outline-2 focus:outline focus:outline-whiteSecondary;
	}

	.theme-button {
		@apply flex items-center gap-2 py-3 px-5 rounded-full transition-all ease-linear;
	}
	.theme-button:not(.static) {
		@apply active:scale-95;
	}
	.theme-button.primary {
		@apply bg-darkSecondary hover:bg-darkHighlight;
	}
	.theme-button.medium {
		@apply px-4 py-1.5;
	}
	.theme-button.small {
		@apply px-3 py-1 text-[14px];
	}
	.theme-button.outlined {
		@apply border border-whitePrimary;
	}

	#app-wrapper {
		@apply max-w-[1440px] m-auto relative;
	}
	#app-content {
		@apply max-w-[720px] m-auto;
	}
	.nav__search {
		@apply text-whiteSecondary ss:px-3 py-1.5 px-1.5 rounded-md overflow-hidden flex ss:gap-3 gap-2 items-center mt-0;
	}
	.post__title {
		@apply ss:text-6xl ss:leading-snug leading-snug text-4xl font-medium ss:my-12 my-5 font-playFD;
	}
	#post__editor-title {
		@apply post__title ss:text-5xl ss:leading-snug outline-0 border-0 bg-transparent resize-none w-full ss:my-5 my-3;
	}
	#post__editor-title::placeholder {
		@apply text-whitePrimary opacity-30;
	}
	.postcard_content {
		overflow: hidden;
		-webkit-line-clamp: 3;
		display: -webkit-box;
		-webkit-box-orient: vertical;
	}
	.prompt button {
		@apply py-2 text-sm;
	}
	.prompt button.delete {
		@apply rounded-sm px-3 border border-red-500 text-red-500;
	}
	.custom-spinner {
		@apply w-4 h-4 border-2 !border-t-transparent border-white rounded-full animate-spin;
	}
	.spinner-wrapper.progress-bar {
		@apply bg-whiteSecondary text-opacity-100 z-10 top-0 left-0 w-full h-full cursor-wait absolute flex items-center justify-center;
		& .loader {
			width: 98%;
			height: 4.8px;
			display: inline-block;
			position: relative;
			background: transparent;
			overflow: hidden;
			&::after {
				content: "";
				width: 192px;
				height: 4.5px;
				background: var(--dark-secondary);
				position: absolute;
				top: 50%;
				left: 0;
				translate: 0 -50%;
				box-sizing: border-box;
				animation: progress-bar 1.5s linear infinite;
			}
		}
	}
	@keyframes progress-bar {
		0% {
			left: 0;
			transform: translateX(-100%);
		}
		100% {
			left: 100%;
			transform: translateX(0%);
		}
	}
}
#editor img,
#editor video {
	@apply mx-auto my-10;
}

#editor .ql-editor h2 {
	@apply ss:text-3xl ss:leading-snug leading-snug text-2xl font-medium text-whitePrimary ss:mt-10 mt-6 ss:mb-4 mb-2 font-playFD tracking-wide;
}

#editor .ql-editor p,
#editor .ql-editor li,
#editor .ql-editor blockquote {
	@apply ss:text-lg text-lg leading-[1.58] ss:mb-4 mb-2 last:mb-8 text-whiteSecondary font-lora tracking-wider;
}

#editor .ql-editor li {
	@apply ss:mb-2 mb-1 last:mb-0;
}

#editor .ql-editor ol,
#editor .ql-editor ul {
	@apply pl-0 ss:my-8 my-6;
}

#editor .ql-editor a {
	@apply text-whiteSecondary;
}

#editor .ql-editor li:not(.ql-direction-rtl)::before {
	@apply mr-[0.8em];
}

#editor .ql-snow {
	@apply border-hidden;
}

#editor .ql-editor {
	@apply px-0;
}

#editor .ql-toolbar {
	@apply bg-darkSecondary sticky top-0 z-10;
}

#editor .ql-editor p:has(+ p > br) {
	@apply mb-0;
}

#editor .ql-editor p:has(br) {
	@apply m-0;
}

#editor .ql-editor pre {
	@apply ss:my-6 my-3 py-2 ss:text-base text-xs bg-darkSecondary;
}

#editor .ql-editor blockquote {
	@apply italic;
}

#editor .ql-editor.ql-blank::before {
	@apply text-lg text-whitePrimary opacity-30 not-italic left-0;
}
